#imports {
    width: 400px;
    margin-top:5px;
   }
   #imports td, #imports th{
       border: 1px solid #ddd;
       padding: 3px;
   }
   #imports tr:nth-child(even){background-color: #f2f2f2;}
   
   #imports tr:hover {background-color: #ddd;}
   #imports th {
       padding-top: 12px;
       padding-bottom: 12px;
       text-align: left;
       background-color: #141f1b;
       color: white;
     }